*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
   
}

body{
    justify-content: flex-end;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    padding: 20px;

}
header{
    text-align: center;
    padding: 20px;
    background-color: white;
}
header img{

    max-width: 150px;
    max-height: 150px;
    margin-bottom: 10px;
    transition: display all;
}
nav {
    background-color: #0055a5;
    padding: 10px;
    margin: 20px 0;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}
nav ul li a {
    color: white;
    background-color: #05345d;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: backbround-color 0.7s;
}
nav ul li a:hover {
     background-color: #022442;
     border-radius: 10px;
}
#entregable{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section{
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
}
article{
    flex: 2;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px #022442;
}
article img{
    width: 600px;
}
article ul, ol, dl{
    padding: 10px;
    margin: 18px;
}
article table{
    background-color: rgb(223, 115, 214);
    border: 2px solid;
}
article table th,td{
    border: 1px solid;

}
aside{
    justify-content: center;
    flex: 1;
    background-color: rgb(247, 238, 255);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px #040e16;
}
footer{
    text-align: center;
    padding: 15px;
    background-color: #0055a5;
    color: white;
    border-radius: 8px;
    margin-top: 20px;
}
footer a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    flex: 2;

}
.CACAO{
    color: #40ada8;
    
}
Harina{ 
    color: #31a0a8;
}